# Configuration object
config.mak
config.sh
config.h
libovvc/ovversion.h
libovvc/ovconfig.h
libopenvvc.pc

# Build objects
*.o
*.d
*.a
*.so
*.dll
*.lib
*.exe
*.cache
*.annote

# Build folder
build/*

# Editor created objects
*.sw?
*.session

# TAGS
cscope*
.ctags*
tags

# Directories
bin/
lib/

# Programs
dectest
dectest_stat

# Video objects
*.266
*.yuv
*.md5
*.log
